asgiref==3.2.3
astroid==2.3.2
backcall==0.1.0
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.9.11
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.1
cryptography==2.8
cycler==0.10.0
Cython==0.29.14
decorator==4.4.1
Django==3.0.7
django-cors-headers==3.2.1
h5py==2.10.0
idna==2.8
ipdb==0.12.2
ipython==7.9.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.15.1
jieba==0.42.1
joblib==0.14.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.4.2
matplotlib==3.2.0rc2
mccabe==0.6.1
mysqlclient==1.4.6
nltk==3.5
numpy==1.17.4
pandas==0.25.3
parso==0.5.1
pickleshare==0.7.5
Pillow==7.1.2
prompt-toolkit==2.0.10
pycparser==2.20
pycryptodome==3.9.7
Pygments==2.4.2
pylint==2.4.3
PyMySQL==0.9.3
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.1.2
redis==3.3.11
regex==2020.4.4
requests==2.22.0
scikit-learn==0.21.3
scikit-opt==0.5.3
scipy==1.3.2
six==1.12.0
sklearn==0.0
soupsieve==1.9.5
sqlparse==0.3.0
tinify==1.5.1
tqdm==4.45.0
traitlets==4.3.3
urllib3==1.26.5
wcwidth==0.1.7
wrapt==1.11.2
xlrd==1.2.0
xlwt==1.3.0
